body,html{margin: 0; padding: 0;}
img{width: 100%; display: block;}
.wrap{max-width: 1080px; width: 100%; margin: 0 auto; text-align: center;}
.cont{position: relative;}
.text_img{max-width: 69.4444vw; width: 100%; position: absolute; bottom: 22.98%; left: 50%; transform: translateX(-50%);}
.down_arrow{max-width: 6.6667vw; width: 100%; position: absolute; bottom: 3.9%; left: 50%; transform: translateX(-50%); animation: arrow_move 1s infinite;}
.arrow_click{max-width: 11.1111vw; width: 100%; max-height: 11.1111vw; height: 100%; position: absolute; bottom: 1.5%; left: 50%; transform: translateX(-50%);}
@keyframes arrow_move {
    from{
        bottom : 3.9%;
        opacity: 1;
    }
    to{
        bottom : 2%;
        opacity: 0;
    }

}

.top_btn{
    max-width: 47.2222vw;
    width: 100%;
    display: block;
    max-height: 15.65vw;
    height: 100%;
    position: absolute;
    bottom: 20%;
    left: 16%;
}

.top_btn.notice{
    bottom: 0;
}
.bottom_btn{
    display: block;
    position: absolute;
    max-width: 80vw;
    width: 100%;
    max-height: 14.35vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom_btn.share{
    bottom: 20.35%;
}

.bottom_btn.notice{
    bottom: 14.7%;
}