body,html{margin: 0; padding: 0;}
body{background: #0F0A07;}
img{width: 100%; display: block;}
.wrap{max-width: 1080px; width: 100%; margin: 0 auto; text-align: center;}
.cont{position: relative;}
.text_img{max-width: 69.4444vw; width: 100%; position: absolute; bottom: 22.98%; left: 50%; transform: translateX(-50%); z-index: 100;}
.down_arrow{max-width: 6.6667vw; width: 100%; position: absolute; bottom: 3.9%; left: 50%; transform: translateX(-50%); z-index: 100;}
.arrow_click{max-width: 11.1111vw; width: 100%; max-height: 11.1111vw; height: 100%; position: absolute; bottom: 2.5%; left: 50%; transform: translateX(-50%); z-index: 100;}
.black_bg{background-color: #000; opacity: 0.6; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.close_btn{position: absolute; top: 2.5vw; right: 2.7778vw; max-width: 6.1111vw; width: 100%; z-index: 100;}
video{width: 100%; display: block;}
.logo{position: absolute;}
.bg_img{height: 194.4444vw;}
.top_btn{
    max-width: 47.2222vw;
    width: 100%;
    display: block;
    max-height: 15.65vw;
    height: 100%;
    position: absolute;
    bottom: 20%;
    left: 16%;
}

.top_btn.notice{
    bottom: 0;
}
.bottom_btn{
    display: block;
    position: absolute;
    max-width: 80vw;
    width: 100%;
    max-height: 14.35vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom_btn.share{
    bottom: 20.35%;
}

.bottom_btn.notice{
    bottom: 14.7%;
}

@media (min-width : 700px) {
    .wrap{max-width: 400px;}
    .text_img{max-width: 277.77px;}
    .down_arrow{width: 26.66px;}
    .arrow_click{width: 44.44px; height: 44.44px;}
    .top_btn{width: 188.88px; height: 62.59px;}
    .bottom_btn{width: 320px; height: 57.39px;}
    .close_btn{max-width: 24.44px; top: 10px; right: 11.111px;}
    .bg_img{height: 777.77px;}
}